
<br/>
<table>
   <tr>
    <td><b><h3>ID</h3></b></td>
    <td><b><h3>Nombre</h3></b></td>
    <td><b><h3>Apellidos</h3></b></td>
    <td><b><h3>E-mail</h3></b></td>
    <td>&nbsp;</td>
   </tr>
  <% @users.each do |usr|   %>
     <tr>
    <td><%= usr.id %></td>
    <td><%= usr.nombre  %></td>
    <td><%= usr.apellido %></td>
    <td><%= usr.email %></td>
    <td><%= link_to 'Editar', :action =>'edit', :id =>usr.id %></td>
    <td><%= link_to 'Eliminar',{:action =>'destroy', :id =>usr.id}, { :confirm => 'Esta seguro de eliminar a '+ usr.nombre} %></td>
   </tr>
  <%  end %>
</table>
