<%= link_to 'Nuevo Usuario', :action => 'new' %>
<table>
   <tr>
    <td>ID</td>
    <td>NOMBRE</td>
    <td>APELLIDO</td>
    <td>CONTRASEÑA</td>
    <td>&nbsp;</td>
   </tr>
  <% @users.each do |usr|   %>
     <tr>
    <td><%= usr.id %></td>
    <td><%= usr.nombre  %></td>
    <td><%= usr.apellido %></td>
    <td><%= usr.password %></td>
    <td><%= link_to 'Editar', :action =>'edit', :id =>usr.id %></td>
    <td><%= link_to 'Eliminar',{:action =>'destroy', :id =>usr.id}, { :confirm => 'Esta seguro de eliminar a '+ usr.nombre} %></td>
   </tr>
  <%  end %>
</table>
