<h1>Resgistro !!</h1>
<%= form_for :user, :url=>{:action => 'create'} do |f|  %>
<%= render :partial =>'form', :locals =>{:f=>f }  %>
 <% if @user.errors.any? %>
<div class="error">
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>

<%end%>
<%= f.submit "Ingresar " %>
<%end%>
<%=  link_to 'volver',:action=>'index'%>